# Dependencies
node_modules/
package-lock.json

# Web Build
dist/

# iOS
ios/App/Pods/
ios/App/Podfile.lock
ios/App/App/public/
ios/App/App.xcworkspace

# Android
android/app/build/
android/.gradle/
android/local.properties
android/app/release/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.log
